
body {
    box-sizing: border-box;
    font-size:larger;
    background: radial-gradient(rgb(146, 146, 247));
}
input {
    background-color: rgb(219, 190, 153);
    margin-bottom: 10px;
  
/* creating more space between the inputs on page 1, but not on page 2*/
}
.custodian-identifiers input {
    margin-bottom: 15px;
  
}
#submitCustodians{
    background-color: rgb(219, 190, 153);
    padding: 1rem;
}

button {
    background-color: rgb(219, 190, 153);
   
}
footer {
    position: fixed;
    bottom: 0;
}