
body {
    box-sizing: border-box;
    font-size:larger;
    background: radial-gradient(rgb(146, 146, 247));
}
input {
    background-color: rgb(219, 190, 153);
    margin-bottom: 10px;
  
/* creating more space between the inputs on page 1, but not on page 2*/
}
.custodian-identifiers input {
    margin-bottom: 15px;
  
}
#submitCustodians{
    background-color: rgb(219, 190, 153);
    padding: 1rem;
}

button {
    background-color: rgb(219, 190, 153);
   
}
footer {
    position: fixed;
    bottom: 0;
}

a {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.worksheetContainer {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    grid-template-rows: repeat(18, 1fr);
    grid-gap: 5px;
   
}
.item {
    border: 10px solid black;

}
table.worksheet {
  border-collapse: collapse;
  width: 100%;
}

table.worksheet th,
table.worksheet td {
  border: 1px solid #000;
  padding: 6px 10px;
}
