
body {
    box-sizing: border-box;
    font-size:larger;
    background-color: rgb(151, 151, 241)
}
input {
    background-color:  rgb(219, 190, 153);
    margin-bottom: 10px;

  
/* creating more space between the inputs on page 1, but not on page 2*/
}
.custodian-identifiers input {
    margin-bottom: 15px;
  
}
#submitCustodians{
    background-color: rgb(219, 190, 153);
    padding: 1rem;
}

button {
    background-color: rgb(243, 239, 212);
    padding: .5em;
}


footer {
    
    bottom: 0;
}

a {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}


table.worksheet th,
table.worksheet td {
  border: 1px solid #000;
  padding: 6px 10px;
}

.underline{
    display: inline-block;
    width: 125px;
    border-bottom: 1px solid black;

}
.underline-short{
    display: inline-block;
    width: 50px;
    border-bottom: 1px solid black;

}
.table-container {
    overflow-x: auto;
    max-width: 100%;
    border-collapse: collapse;
}
    table {
    width: 100%;
    
}



@media screen and (min-width: 768px) {

.container{
   display:flex;
   justify-content: flex-start;
   height: 2em;
      
}

#item1{
    margin-right: 5rem;
    
}
#line2-container{
    display:flex;
    justify-content: flex-start;
    gap: 1em;
}
}
